// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

.sidebar {
    height: 100vh;
    overflow-y: auto;
}

.bg-dark {
    background-color: #000000 !important;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Target CKEditor editable area */
// .ck-editor__editable[role="textbox"] {
//     min-height: 300px; /* starting height */
//     max-height: none;  /* remove limit */
//     overflow: hidden;  /* hide scrollbars */
// }
#full-typing {
    white-space: pre-wrap; /* Preserve line breaks, but wrap long lines */
    word-wrap: break-word; /* Break long words if needed */
}

